body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: darkblue;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size:24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.price-table-container {
  display: flex;
  width: 1000px;
  align-items: center;
  margin: 200px auto;
}
.price-table-container .table {
  width: 300px;
  height: 442px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-table-container .table:first-child {
  border-radius: 15px 0 0 15px;
}
.price-table-container .table:last-child {
  border-radius: 0 15px 15px 0;
}

.price-table-container .table.recommended {
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 50px 30px 60px 60px;
  z-index: 200;
}

.price-table-container .table .title {
    font-weight: bold;
    text-align: center;
    font: 20px;
}


.price-table-container .table .price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.price-table-container .table .number {
font-size: 60px;
font-weight: bold;
}

.price-table-container .table .currency{
    font-size: 25px;

}
.price-table-container .table .frequency{
 color: #999;;

}

.price-table-container .table .features{
    flex: 1;

}

.price-table-container .table .features ul{
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 10px;

}

.price-table-container .table .features li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.price-table-container .table .features ul li span.check-circle{
    color:  rgb(39, 196, 146);
}

.price-table-container .table .actions .btn{
    display: block;
    text-align: center;
    border: solid 1px #999;
    padding: 20px 0 ;
    border-radius: 3px;
    color: #999;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

.price-table-container .table .actions .btn:hover{
    background-color: #444;
    color: white;
}

.price-table-container .table .actions .recommended{
    background-color:#2579e7 ;
    color: white;
}

.price-table-container .table .actions .recommended:hover{
    background-color:#1956a7 ;
    color: white;
}